h1{
  display: flex;
  justify-content: center;
  border-bottom: solid 1px
}

.div-container{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.img-box{
  margin: 5px;
  border: solid 3px purple;
  border-radius: 10%
}

.name{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: red;
  border-bottom: 3px red dotted;
  font-style: italic;
  padding: 5px;
}

.description{
  display: flex;
  font-size: 15px;
  border-top: 3px red dotted;
  padding: 5px;
}

.center-block{
  display: flex;
}