html {
  overflow-y: scroll;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0.95;
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: hidden;
}

.img-box {
  margin: 5px;
  border: solid 3px purple;
  border-radius: 10%;
}

img:hover {
  transform: scale(1.2);
}

.name {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: red;
  border-bottom: 3px red dotted;
  font-style: italic;
  padding: 5px;
}

.description {
  display: flex;
  font-size: 15px;
  border-top: 3px red dotted;
  padding: 5px;
}

.center-block {
  display: flex;
  flex: 1;
  top: 80px;
  margin-top: 80px;
}

.content-block {
  display: flex;
  flex: 1;
}

.page {
  display: none;
}
.page:target {
  display: flex;
}

#gallery {
  margin-top: -80px;
  padding-top: 80px;
}

#form {
  margin-top: -80px;
  padding-top: 80px;
}

.form {
  border-top: firebrick;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
