.icon::before{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.border::before{
  background-image: url(/image/icons/add_FILL0_wght400_GRAD0_opsz24.png);
}

.mdn::before{
  background-image: url(/image/icons/home_FILL0_wght400_GRAD0_opsz24.png);
}

.mdn:hover::before{
  background-image: url(/image/icons/home_FILL1_wght400_GRAD-25_opsz24.png);
}

.school::before{
  background-image: url(/image/icons/bolt_FILL0_wght400_GRAD0_opsz24.png);
}

.book::before{
  background-image: url(/image/icons/library_add_FILL0_wght400_GRAD0_opsz24.png);
}

.book:hover::before{
  background-image: url(/image/icons/library_add_FILL1_wght400_GRAD-25_opsz24.png);
}