.logo{
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  margin: 5px;
  top: 10px;
  left: 10px;
}

.logo:hover{
  opacity: 0.9;
}

.img-box {
  margin: 5px;
  border: solid 3px purple;
  border-radius: 7%;
  width: 270px;
  height: 270px;
  overflow: hidden;
}

.img-box .img{
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 165px;
}

.img-box img{
  height: 150px;
  max-width: 225px;
}

.img-box img:hover {
  transform: scale(1.2);
}

.img-box .text{
  padding: 5px;
  overflow-y: scroll;
  text-align: justify;
  width: 260px;
  height: 155px;
}

p{
  margin: 0px;
}