html{
  background-color: purple;
}

body{
  margin: 0px;
}

.header{
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 5rem;
}

.header .tab-container{
  display: inherit;
  flex: 1;
}

.tab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.red{
  background-color: red
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

a{
  font-family: Arial;
  color: black;
  font-weight: bold;
}

#box-red{
  background-color:red;
}

#box-yellow{
  background-color: yellow;
}

#box-blue{

  background-color: blue;
}

#box-green{
  background-color: green;
}

.box{
  display: none;
  margin: 5rem 0rem 0rem 0rem;
  font-style: italic;
  text-decoration: underline;
  text-align: justify;
}

.box:target{
  display: flex;
  padding: 50px;
}

.button-container{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: -15px;
}

.button{
  box-shadow: 0px 1px 0px 0px #1d485a;
	background: linear-gradient(to bottom, #9a11d0 5%, #2b227a 100%);
	background-color: #1ac472;
	border-radius: 6px;
	border: 1px solid #057fd0;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #5b6178;
  text-align: center;
  width: 3rem;
  text-transform: uppercase;
}

.map{
  width: 100px;
  position: relative;
  margin: 10px 10px 10px 10px;
  float: left;
}