body {
  background-image: url("/IIT20421-main/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-attachment: fixed;
}

.bike-container {
  background-color:rgba(50, 167, 221, 0.777);
}