
.icon::before {
    content: ' ';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}

.coffee::before {
    background-image: url(../images/icon/outline_coffee_black_24dp.png);
}

.coffee:hover::before {
    background-image: url(../images/icon/baseline_coffee_black_24dp\ filled.png);
}

.sad::before {
    background-image: url(../images/icon/outline_sentiment_dissatisfied_black_24dp.png);
}

.sad:hover::before {
    background-image: url(../images/icon/baseline_sentiment_dissatisfied_black_24dp.png);
}