@import 'reset.css';

.header {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.logo {
  max-height: 50px;
}

.center-block {
  display: flex;
}

.center-block .menu {
  width: 300px;
}

.center-block .menu .menu-fly {
  position: fixed;
}

.center-block .menu .menu-fly .menu-group .links-wrap {
  display: none;
  position: fixed;
}

.center-block .menu .menu-fly .menu-group .links-wrap .links {
  background-color: wheat;
  position: relative;
  left: 230px;
}

.center-block .menu .menu-fly .menu-group:hover .links-wrap {
  display: block;
}

.center-block .menu .menu-fly .link-container {
  margin: 5px;
  display: flex;
  width: 230px;
}

.center-block .menu .menu-fly .link-container a {
  display: flex;
  align-items: center;
}

.center-block .menu .menu-fly .link-container a:hover {
  width: 100%;
}

.center-block .menu .menu-fly .link-container a.active {
  color: red;
}

.center-block .content {
  flex: 1;
}

.center-block .content .gallery {
  display: flex;
  flex-wrap: wrap;
}

.center-block .content .gallery .bike-container {
  border: 1px rgb(159, 0, 71) solid;
  border-radius: 15px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.center-block .content .gallery .bike-container .name {
  border-bottom: 1px rgb(159, 0, 71) solid;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.center-block .content .gallery .bike-container .name:hover {
  background-color: aqua;
}

.center-block .content .hot-key-block-wrap {
  flex: 1;
}

.center-block .content .hot-key-block-wrap .hot-key-block {
  display: flex;
  border-bottom: 1px rgba(162, 27, 27, 0.12) solid;
}

.center-block .content .hot-key-block-wrap .hot-key-block:hover {
  background-color: #ccc;
}

.center-block .content .hot-key-block-wrap .hot-key-block .desc {
  justify-content: start;
}

.center-block .content .hot-key-block-wrap .hot-key-block .hot-key {
  color: red;
  margin: 5px;
  font-size: 30px;
  width: 200px;
}

.center-block .content .hot-key-block-wrap .hot-key-block .tags {
  display: flex;
}

.center-block .content .hot-key-block-wrap .hot-key-block .tags .tag {
  border: 5px solid;
  border-radius: 17px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.center-block .content .hot-key-block-wrap .hot-key-block .tags .tag.vsc {
  border-color: aquamarine;
}

.center-block .content .hot-key-block-wrap .hot-key-block .tags .tag.chrome {
  border-color: rgb(24, 2, 220);
}

.center-block .content .hot-key-block-wrap .hot-key-block .tags .tag.windows {
  border-color: rgb(195, 110, 5);
}

.center-block .content .page {
  display: none;
}

.center-block .content .page:target {
  display: flex;
}

.image-and-desc {
  display: flex;
  flex: 1;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px rgb(159, 0, 71) solid;
  flex: 1;
}

.image-container img {
  max-width: 250px;
  max-height: 140px;
}

.additional-container {
  display: flex;
  border-top: 1px rgb(159, 0, 71) solid;
}

.additional-container .action {
  flex: 1;
  background-color: pink;
  margin: 1px;
  display: flex;
  justify-content: center;
}

.additional-container .action:first-child {
  border-bottom-left-radius: 15px;
  background-color: aqua;
}

.additional-container .action:last-child {
  border-bottom-right-radius: 15px;
  background-color: aqua;
}

.desc {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: rgba(185, 188, 179, 0.863);
}

.main {
  font-size: 30px;
}

table {
  width: 100%;
}

table thead th {
  font-size: 20px;
}

table tbody td {
  border: 1px red solid;
}

table tbody tr:nth-child(2n) {
  background: rgba(162, 27, 27, 0.12);
}

table tbody td:nth-child(3n+2) {
  color: red;
}

table tbody tr:hover {
  background: #ccc;
}

.icon::before {
  content: " ";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.coffee::before {
  background-image: url(../images/icon/coffee.png);
}

.coffee:hover::before {
  background-image: url(../images/icon/coffee_hover.png);
}

.sad::before {
  background-image: url(../images/icon/sad.png);
}

.sad:hover::before {
  background-image: url(../images/icon/sad_hover.png);
}

.download::before {
  background-image: url(../images/icon/download.png);
}

.download:hover::before {
  background-image: url(../images/icon/download_hover.png);
}

.feedback::before {
  background-image: url(../images/icon/feedback.png);
}

.feedback:hover::before {
  background-image: url(../images/icon/feedback_hover.png);
}

.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid rgb(159, 0, 71);
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  width: 100%;
}

.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*# sourceMappingURL=style.css.map */

.size {
  width: 200px;
  height: 200px;
  display: flex;
  margin: 100px;
}

.size div{
  width: 100%;
  height: 100%;
}

.red {
  background: red;
}

.size div.green {
  background: green;
  width: 0;
}